* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { /*PSEUDO-CLASS de elementos na raiz do projeto*/
  
  /*O tamanho de fonte padrão dos navegadores é de 16 px,
  logo estou definindo que o tamanho padrão na minha página será
  na proporção de 62,5%, o que equivale a 10px -> Fazer isso
  facilita definir a proporcionalidade dos textos da página*/
  font-size: 62,5%;

}

body {
  background: #ECE9FD;
  padding: 60px 23px 66px;
  font-family: 'Epilogue', sans-serif;

  /*"rem"-> Unidade de medida que multiplica o tamanho da fonte padrão (definida no root)*/
  font-size: 1.6rem;
  line-height: 3.2rem;
}

main {
  max-width: 33.0rem;
  margin: 0 auto;
}

main p:first-child {
  color: #7158EF;
  letter-spacing: 3px;
  text-transform: uppercase;

  margin-bottom: 1.7rem;
}

h1 {
  color: #090039;
  font-size: 4.0rem;
  line-height: 4.8rem;
  font-weight: 800;
}

h1 + p { /*Seleciona a TAG "p" anterior ao H1*/
  color: rgba(10, 0, 57, 0.64);

  margin: 1.5rem 0 3.2rem;
}

a {
  color: #090039;

  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

ul {
  margin-top: 7.2rem;
}

ul li {
  list-style: none;

  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;

  max-width: 25.7rem;
  display: flex;
  gap: 3.8rem;
}

ul li + li {
  margin-top: 3.2rem;
}

ul li span {
  font-size: 7.2rem;
  line-height: 8.0rem;
  font-weight: 800;
  letter-spacing: -2px;
}

/*Media queries*/
@media (min-width: 700px) {
  body {
    padding: 8rem;
  }
  
  main {
    max-width: 1020px;
    display: flex;
    gap: 10rem;
  }

  main > div {
    max-width: 484px;
  }

  ul li {
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }

}
